{% extends 'base.html' %}
{% block content %}
    {% if notfound %}
        <h2>{{ notfound }}</h2>
    {% else %}
        <h1>Hello {{ input_contents }}</h1>
        <div class="card" style="width: 18rem;">
            <img src="{{user_info.avatar_url}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ user_info.name }}</h5>
                    <p class="card-text">company: {{ user_info.company }}</p>
                    <p class="card-text">blog: {{ user_info.blog }}</p>
                    <p class="card-text">location: {{ user_info.location }}</p>
                </div>
        </div>
    {% endif %}
{% endblock %}
